<div class="form-group">
  <div class="input-group upload-form">
    <div class="custom-fileInfo">
      <input type="fileInfo"
             class="custom-fileInfo-input"
             id="fileInfo"
             (change)="handleFileInput($event)"
      >
      <label class="custom-fileInfo-label" for="fileInfo">Choose fileInfo</label>
    </div>
    <div class="input-group-append">
      <button type="button" class="btn btn-primary" (click)="handleFileUpload()">Upload</button>
    </div>
  </div>
</div>


<ul class="list-group" *ngIf="files.length">
  <li class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let f of files">
    {{f.name}} ({{FileSize(f.size*1024)}})
    <span>
        <a [href]="downloadUrl(f)">
          Download
        </a>
        <a [routerLink]="['/', 'system', 'view', f.id]">
          View
        </a>
        <a [routerLink]="['/', 'system', 'edit', f.id]">
          Edit
        </a>
        <a href="#" (click)="deleteFile(f); $event.preventDefault()">
          Remove
        </a>
    </span>
  </li>
</ul>
